@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom font imports */
@font-face {
  font-family: 'DakotaMotors';
  src: url('./assets/DakotaMotorsPersonalUseRegular-K7xge.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniFLF';
  src: url('./assets/BodoniFLF-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniFLF';
  src: url('./assets/BodoniFLF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniFLF';
  src: url('./assets/BodoniFLF-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BodoniFLF';
  src: url('./assets/BodoniFLF-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DuneRise';
  src: url('./assets/Dune_Rise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VampireWars';
  src: url('./assets/Vampire Wars.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WaltographUI';
  src: url('./assets/waltographUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
